name: ci
on:
  - push
  - pull_request
env:
  FORCE_COLOR: 3
concurrency:
  group: ${{ github.ref }}
  # Never cancel builds on master. This way, we can more easily figure out
  # which build/commit broke it. Replace with `true` to always cancel
  # in-progress jobs.
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}
jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - name: Clone
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Prepare
        uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: npm
      - name: Install
        run: npm clean-install --ignore-scripts
      - name: Build
        run: npx nr build
      - name: Test
        run: |
          npx nr test.coverage
          bash <(curl -s https://codecov.io/bash)
